@model LodgeDogDB.Models.Bookings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Primaryguestname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Primaryguestname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numberofoccupants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numberofoccupants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unittype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unittype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datebookingmade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datebookingmade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baserateofpay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baserateofpay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pointsused)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pointsused)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationpassesneeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservationpassesneeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationpassespurchased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservationpassespurchased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guestpassesadded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guestpassesadded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guestpassespurchased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guestpassespurchased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wyndhamconfirmationnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wyndhamconfirmationnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberNavigation.Number)
        </dd>
    </dl>
</div>
<div>
    @{
        var stamp = Model.TimeStamp.ToString("s");
    }
    @Html.ActionLink("Edit", "Edit", new { id = stamp, num = Model.NumberNavigation.Number }) |
    <a asp-action="Index" asp-route-id="@Model.NumberNavigation.Number">Back to List</a>
</div>
