@model IEnumerable<LodgeDogDB.Models.Bookings>

@{
    //ViewData["Title"] = "Index";
    var notes = ViewBag.Notes;
    
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["Owner"]">Create New</a>
</p>

<div class="row">
    <div class="column">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <div>
                        <label for="inout">Check-in/Check-out:</label>

                        <select name="inout" id="inout">
                            <option value="in">Check-in</option>
                            <option value="out">Check-out</option>
                        </select>
                    </div>
                    <div>
                        <label for="paragraph">Paragraph for printer:</label>
                        <br />
                        <textarea name="paragraph" id="paragraph" cols="120" rows="4">Back to school again! September brings the anticipation of fall which is a great time to see someplace new and explore the outdoors, or shuffle the kids to school and soccer practice! As we prepare to ace this school year we want to take a moment to thank you for your continued partnership with us and other owners to make timeshare ownership a little better than it was before. See you next month!</textarea>
                    </div>
                    <div>
                        <label for="month">Choose a month:</label>
                        <br />
                        <select name="month" id="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div>
                        <input type="submit" value="Search" /> |
                        <input type="submit" value="Print" asp-action="Printer" asp-route-id="@ViewData["Owner"]" />
                        <br />
                        <a asp-action="Index">Back to Full List</a>
                    </div>
                </p>
            </div>
        </form>
    </div>
    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Note
                    </th>
                    <th>
                        Time Stamp
                    </th>
                    <th>
                        Reason
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in notes)
                {
                    <tr>
                        <td>
                            @note.Note
                        </td>
                        <td>
                            @note.TimeStamp
                        </td>
                        <td>
                            @note.Reason
                        </td>
                        <td>
                            @note.Name
                        </td>
                        <td>
                            @note.Number
                        </td>
                        <td>
                            @{
                                var stamp = note.TimeStamp.ToString("s");
                            }
                            <a asp-controller="Notes" asp-action="Edit" asp-route-id="@stamp">Edit</a> |
                            <a asp-controller="Notes" asp-action="Details" asp-route-id="@stamp">Details</a> |
                            <a asp-controller="Notes" asp-action="Delete" asp-route-id="@stamp">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Notes" asp-action="Create">Create new note</a>
    </div>
</div>
<div>
    <p>Payout for Owner: $@ViewData["sum"]</p><br />
    <p>Results for <b>@ViewData["m"]</b> based on <b>Check-@ViewData["inout"]</b></p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Source
            </th>
            <th>
                Primaryguestname
            </th>
            <th>
                Numberofoccupants
            </th>
            <th>
                Property
            </th>
            <th>
                Unittype
            </th>
            <th>
                Datebookingmade
            </th>
            <th>
                Checkin
            </th>
            <th>
                Checkout
            </th>
            <th>
                Baserateofpay
            </th>
            <th>
                Rci
            </th>
            <th>
                Tri
            </th>
            <th>
                Pointsused
            </th>
            <th>
                Reservationpassesneeded
            </th>
            <th>
                Reservationpassespurchased
            </th>
            <th>
                Guestpassesadded
            </th>
            <th>
                Guestpassespurchased
            </th>
            <th>
                Wyndhamconfirmationnumber
            </th>
            <th>
                NumberNavigation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Primaryguestname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numberofoccupants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unittype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datebookingmade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Baserateofpay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rci)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pointsused)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reservationpassesneeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reservationpassespurchased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guestpassesadded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guestpassespurchased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wyndhamconfirmationnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberNavigation.Number)
                </td>
                <td>
                    @{
                        var stamp2 = item.TimeStamp.ToString("s");
                    }
                    <a asp-action="Edit" asp-route-id="@stamp2" asp-route-num="@item.NumberNavigation.Number">Edit</a> |
                    <a asp-action="Details"  asp-route-id="@stamp2" asp-route-num="@item.NumberNavigation.Number">Details</a> |
                    <a asp-action="Delete" asp-route-id="@stamp2" asp-route-num="@item.NumberNavigation.Number">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
