@model IEnumerable<LodgeDogDB.Models.Bookings>


<p>@ViewData["Name"]<br />@ViewData["Address"]<br />@ViewData["CSZ"]</p>
<table class="print">
    <caption>@ViewData["month"]</caption>
    <thead>
        <tr class="print">
            <th class="print">
                Confirm#
            </th>
            <th class="print">
                Check In
            </th>
            <th class="print">
                Check out
            </th>
            <th class="print">
                Resort
            </th>
            <th class="print">
                Points
            </th>
            <th class="print">
                Price
            </th>
            <th class="print">
                Payout
            </th>
            <th class="print">
                Balance
            </th>
            <th class="print">
                Payout Due
            </th>
        </tr class="print">
    </thead>
    <tbody>
        @{
            double sum = 0;
            int sumPoints = 0;
        }
        @foreach (var item in Model)
        {
        <tr class="print">
            <td class="print">
                @Html.DisplayFor(modelItem => item.Wyndhamconfirmationnumber)
            </td>
            <td class="print">
                @Html.DisplayFor(modelItem => item.Checkin)
            </td>
            <td class="print">
                @Html.DisplayFor(modelItem => item.Checkout)
            </td>
            <td class="print">
                @Html.DisplayFor(modelItem => item.Property)
            </td>
            <td class="print">
                @Html.DisplayFor(modelItem => item.Pointsused)
            </td>
            <td class="print">
                $@Html.DisplayFor(modelItem => item.Baserateofpay)/K
            </td>
            @{ double ppt = (double)(item.Pointsused) / 1000.0;
                ppt = (double)(item.Baserateofpay * ppt);
                sum += ppt;
                sumPoints += (int)item.Pointsused;
                string decimalString = ppt.ToString("C");
            }
            <td class="print">
                $@decimalString
            </td>
            <td class="print">
                $0
            </td>
            <td class="print">
                $@decimalString
            </td>
        </tr>
        }
        <tr class="print">
            <td rowspan="2" class="print">
                Notes:
            </td>
            <th class="print">
                Total Points
            </th>
            <th class="print">
                Total Payout
            </th>
        </tr>
        <tr class="print">
            @sumPoints
        </tr>
            @{ 
                string decimalSum = sum.ToString("C");
            }
        <tr class="print">
            $@sum
        </tr>
    </tbody>
</table>
