@model IEnumerable<LodgeDogDB.Models.Bookings>
@{
//Layout = "";
}
    <header>
        <div style="overflow: hidden;width: 100%;">
            <p style="float: left;font-size: 20px;">Questions? 877-808-8286</p>
            <p style="float: right;font-size: 20px;">@ViewData["Current"] - Starting Balance: $0</p>
        </div>
    </header>
    <div>
        <br /><br /><br />
        <br /><br /><br />
        <br /><br /><br /><br />
        <p style="font-size: 20px;">&emsp;@ViewData["Name"]<br />&emsp;@ViewData["Address"]<br />&emsp;@ViewData["CSZ"]<br /><br /></p>
        <p class="print" style="line-height:0.2 !important;">Hello @ViewData["fName"],</p>
        <p class="print">@ViewData["Paragraph"]<br /></p>

        <table class="print">
            <caption class="print">@ViewData["month"]</caption>
            <thead>
                <tr class="print">
                    <th class="print">
                        Confirm#
                    </th>
                    <th class="print">
                        Check In
                    </th>
                    <th class="print">
                        Check out
                    </th>
                    <th class="print">
                        Resort
                    </th>
                    <th class="print">
                        Points
                    </th>
                    <th class="print">
                        Price
                    </th>
                    <th class="print">
                        Payout
                    </th>
                    <th class="print">
                        Balance
                    </th>
                    <th class="print">
                        Payout Due
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    double sum = 0;
                    int sumPoints = 0;
                }
                @foreach (var item in Model)
                {
                    <tr class="print">
                        @{ double ppt = (double)(item.Pointsused) / 1000.0;
                            ppt = (double)(item.Baserateofpay * ppt);
                            sum += ppt;
                            sumPoints += (int)item.Pointsused;
                            string decimalString = ppt.ToString("C");
                            string cin = item.Checkin.ToString("dd/MM/yyyy");
                            string cout = item.Checkout.ToString("dd/MM/yyyy");
                            int points = (int)item.Pointsused;
                            string ps = points.ToString("N0");
                            string rc = item.Wyndhamconfirmationnumber.Substring(0, 8);
                            string br = item.Wyndhamconfirmationnumber.Substring(8, 7);
                        }
                        <td class="print">
                            @rc<br />@br
                        </td>
                        <td class="print">
                            @cin
                        </td>
                        <td class="print">
                            @cout
                        </td>
                        <td class="print">
                            @Html.DisplayFor(modelItem => item.Property)
                        </td>
                        <td class="print">
                            @ps
                        </td>
                        <td class="print">
                            $@Html.DisplayFor(modelItem => item.Baserateofpay)/K
                        </td>
                        <td class="print">
                            @decimalString
                        </td>
                        <td class="print">
                            $0
                        </td>
                        <td class="print">
                            @decimalString
                        </td>
                    </tr>
                }
                <tr class="print">
                    <td colspan="7" rowspan="2" class="print" style="text-align:left">
                        Notes:
                    </td>
                    <th class="print">
                        Total Points
                    </th>
                    <th class="print">
                        Total Payout
                    </th>
                </tr>
                @{
                    string decimalSum = sum.ToString("C");
                    string sPoints = sumPoints.ToString("N0");
                }
                <tr class="print">
                    <td class="print">@sPoints</td>
                    <td class="print">@decimalSum</td>
                </tr>
            </tbody>
        </table>
    </div>