@model LodgeDogDB.Models.Notes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberNavigation.Number)
        </dd>
    </dl>
</div>
<div>
    @{
        var stamp = Model.TimeStamp.ToString("s");
    }
    <a asp-controller="Notes" asp-action="Edit" asp-route-id="@stamp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
