@model LodgeDogDB.Models.Owners

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Owners</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullservice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullservice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signupdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signupdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Primarycontact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Primarycontact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternatephonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternatephonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternatephonenumber2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternatephonenumber2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternateemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternateemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Membernumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Membernumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viplevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viplevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yearofuse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yearofuse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rcimembernumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rcimembernumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rcipoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rcipoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rciyearofuse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rciyearofuse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rateofpay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rateofpay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rci1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rci1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rci2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rci2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guestpasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guestpasses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationpasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservationpasses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wynresemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wynresemail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Number">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
